[[source]]
# url = "https://pypi.org/simple"
# url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
# url = "https://mirrors.aliyun.com/pypi/simple/"
url = "https://pypi.doubanio.com/simple/"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
scipy = "*"
matplotlib = "*"
numpy = "*"
jupyter = "*"
dataclasses = "*"
sklearn = "*"
"h5py" = "*"

[dev-packages]

[requires]
python_version = "3.6"
