[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
numpy = "*"
requests = "*"
matplotlib = "*"
pillow = "*"
ipython = "*"
scipy = "*"
sklearn = "*"

[requires]
python_version = "3.6"
